{% if posts.paginator.count > 0 %}
<nav class="pag" aria-label="Page navigation">
    <ul class="pagination brown">
        {% if posts.has_previous %}
            <li class="page-item"><a class="page-link brown" href="?page={{ posts.previous_page_number }}">Previous</a></li>
            <li class="page-item"><a class="page-link brown" href="?page=1">1</a></li>
        {% else %}
            <li class="disabled page-item"><a class="page-link brown" href="#">Previous</a></li>
        {% endif %}

        {% if posts.number > 3 %}
            <li class="page-item"><a class="page-link brown" href="?page=1">...</a></li>
        {% endif %}

        {% if posts.number > 2 %}
            <li class="page-item"><a class="page-link brown" href="?page={{ posts.previous_page_number }}">{{ posts.previous_page_number }}</a></li>
        {% endif %}

        <li class="page-item"><a class="page-link brown" href="?page={{ posts.number }}">{{ posts.number }}</a></li>

        {% if posts.next_page_number < posts.paginator.num_pages %}
            <li class="page-item"><a class="page-link brown" href="?page={{ posts.next_page_number }}">{{ posts.next_page_number }}</a></li>
            <li class="page-item"><a class="page-link brown" href="?page={{ posts.paginator.num_pages }}">...</a></li>
        {% endif %}

        {% if posts.has_next %}
            <li class="page-item"><a class="page-link brown" href="?page={{ posts.paginator.num_pages }}">{{ posts.paginator.num_pages }}</a></li>
            <li class="page-item"><a class="page-link brown" href="?page={{ posts.next_page_number }}">Next</a></li>
        {% else %}
            <li class="disabled page-item"><a class="page-link brown" href="#">Next</a></li>
        {% endif %}
    </ul>
</nav>
{% endif %}
